body{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: black;
    background-color: rgb(243, 243, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo img{
    width: 200px;
}

.container{
    width: 82vw;
    height: 3000px;
    /* border: 2px solid black; */
    padding-top: 20px;
    position: relative;
}

.nav-links{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0;
    transition: all 0.3s;
}

.nav-links .nav-link{
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

.nav-link-btn{
    padding: 1.2rem 0;
    text-align: center;
    border-top: 1px solid gray;
    
}

.show-links{
    height: 296.88px;
}


.nav-links .nav-link:hover{
    color: rgb(101, 101, 255);
}

.navContact{
    background-color: rgb(101, 101, 255);
    width: 6rem;
    height: 1.8rem;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s;
}

.navContact:hover{
    background-color: rgb(60, 60, 153);
}

.small-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    display: block;
    background-color: rgb(101, 101, 255);
    border: none;
    color: white;
    width: 40px;
    height: 25px;
    border-radius: 3px;
    font-size: 1.1rem;
    padding: 3px 6px;
    transition: all 0.3s;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: rgb(60, 60, 153);
}

.logo {
    display: flex;
    align-items: center;
}

bigImg{
    /* width: 100%; */
}



@media screen and (min-width: 1250px) {

    .nav-btn {
        display: none;
    }

    .nav-links{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 296.88px;
        position: absolute;
        top: -8.91rem;
        left: 14.5rem;
    } 
    
    .nav-links .nav-link {
        margin-right: 1.2rem;
    }

    .nav-link-btn{
        padding: 0;
        text-align: none;
        border-top: none;
    }

    .navContact{
        margin-left: 32.8rem;
    } 

}
