*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(243, 243, 243);
}

.center{
    display: flex;
    justify-content: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo img{
    width: 200px;
}

.container{
    width: 89vw;
    height: 64rem;
    border: 2px solid black;
    padding-top: 20px;
    position: relative;
}

.increase-h{
    height: 83rem;
}

.nav-links{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0;
    transition: all 0.3s;
}

.nav-links-1{
    display: flex;
    flex-direction: column;
}

.nav-links .nav-link{
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

.nav-link-btn{
    padding: 1.2rem 0;
    text-align: center;
    border-top: 1px solid gray;
    
}

.show-links{
    height: 296.88px;
}


.nav-links .nav-link:hover{
    color: rgb(101, 101, 255);
}

.navContact{
    background-color: rgb(101, 101, 255);
    width: 6rem;
    height: 1.8rem;
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s;
}

.navContact:hover{
    background-color: rgb(60, 60, 153);
}

.small-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    display: block;
    background-color: rgb(101, 101, 255);
    border: none;
    color: white;
    width: 40px;
    height: 25px;
    border-radius: 3px;
    font-size: 1.1rem;
    padding: 3px 6px;
    transition: all 0.3s;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: rgb(60, 60, 153);
}

.logo {
    display: flex;
    align-items: center;
}

.bigImg{
    width: 100%;
    height: 16rem;
    border-radius: 4px;
    margin-top: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.349)), url(../img/main.jpeg) center/cover no-repeat;
    color: white;
    text-align: center;
    padding-top: 3rem;
    font-size: 2.9rem;
}

.meals{
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 1rem;
}

.meal-f {
    margin-left: 0;
    margin-top: 1rem;
}

.meal-1{
    background: url(../img/recipes/recipe-1.jpeg) center/cover no-repeat;
    border-radius: 5px;
    width: 43.2vw;
    height: 10rem;
    margin-bottom: 4rem;
}
.meal-2{
    background: url(../img/recipes/recipe-2.jpeg) center/cover no-repeat;
    border-radius: 5px;
    width: 43.2vw;
    height: 10rem;
    margin-bottom: 4rem;
}
.meal-3{
    background: url(../img/recipes/recipe-3.jpeg) center/cover no-repeat;
    border-radius: 5px;
    width: 43.2vw;
    height: 10rem;
    margin-bottom: 4rem;
}
.meal-4{
    background: url(../img/recipes/recipe-4.jpeg) center/cover no-repeat;
    border-radius: 5px;
    width: 43.2vw;
    height: 10rem;
    margin-bottom: 6rem;
}

.recipe-name{
    text-decoration:none;
    color: rgb(17, 17, 17);
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    margin-top: 11rem;
}

.prep{
    color: rgb(81, 85, 114);
    margin-bottom: 2rem;
}

a{
    text-decoration: none;
}

.header{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.recipes{
    display: flex;
    flex-wrap: wrap;
}

.beef{
    font-size: 0.85rem;
    margin: 1rem 7rem 0rem 0;
    color: rgb(81, 85, 114);
    transition: all 0.3s;
}

.beef:hover{
    color: rgb(105, 42, 189);
}

footer{
    background-color: rgb(20, 20, 20);
    text-align: center;
    margin-top: 4rem;
    height: 4rem;
    color: white;
    padding-top: 1.5rem;
    font-size: 1.2rem;
}

/* 404 start */
.nav-center{
    display: flex;
    justify-content: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-new{
    width: 89vw;
    height: 6rem;
    /* border: 2px solid black; */
    padding-top: 20px;
    position: relative;
}

.increase-h-new {
    height: 24.5rem;
}

.container404{
    display: flex;
    width: 100%;
    min-height: 65vh;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.page{
    width: 89vw;
    min-height: calc(100vh-(6rem-4rem));
    margin: 0 auto;
}

.content404 h1{
    font-size: 10rem;
}

.content404 p{
    font-size: 2.7rem;
}
/* 404 end */

@media screen and (max-width: 550px) {

    .container {
        height: 117rem;
    }

    .increase-h {
        height: 135rem;
    }

    .meals{
        grid-template-columns: 1fr;
    }

    .meal-big{
        width: 100%;
        height: 15rem;
    }

    .recipe-name{
        margin-top: 16rem;
    }

    .beef{
        margin-right: 4rem;
    }
}

@media screen and (min-width: 970px) {

    .nav-btn {
        display: none;
    }

    .container{
        height: 55rem;
        width: 82vw;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container-new{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-links{
        flex-grow: 1;
        margin-top: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        height: auto;
        margin-left: 2rem;
    } 

    .nav-links-1 {
        flex-direction: row;
    }
    
    .nav-links .nav-link {
        margin-right: 1.2rem;
    }

    .nav-link-btn{
        padding: 0;
        text-align: none;
        border-top: none;
    }
    
    .bigImg {
        margin-top: 3.5rem;
    }

    .content{
        display: flex;
    }

    .meals{
        order: 1;
        margin-left: 8rem;
        width: 100%;
    }

    .meal-f{
        margin-left: 0;
    }

    .meal-big {
        width: 100%;
        height: 10rem;
    }

    .recipes{
        flex-direction: column;
    }

    .header{
        margin-bottom: 0.5rem;
    }

    .beef{
        margin: 0.3rem 0;
    }

}

@media screen and (min-width: 1200px) {

    .meals {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


